
.div-comments-page {
  padding: 20px;
  min-width: 50%;
  min-height: 50%;
  margin: 10px;
  //position: relative;
}

.list-01{
  list-style-type: none;
  background-color: #dbd7d7;
  text-align: center;
}
.list-02{
  list-style-type: none;
  background-color: white;
  text-align: center;
}


